<div class="min-h-screen flex items-center justify-center relative overflow-hidden font-sans">

  <div class="absolute inset-0 z-0">
    <img src="https://media.istockphoto.com/id/1478187164/es/foto/barco-de-pesca-con-redes-desplegadas.jpg?s=612x612&w=0&k=20&c=kLUs10IuPp9SdvT7ttxS-iP836HdRCrnFispri-NR_8="
         alt="Mar Peruano"
         class="w-full h-full object-cover animate-[pulse_60s_infinite]">
    <div class="absolute inset-0 bg-slate-900/60 backdrop-blur-[2px]"></div>
  </div>

  <div class="relative z-10 bg-white/95 backdrop-blur-xl rounded-2xl shadow-2xl w-full max-w-md p-8 border-t-4 border-emerald-500 animate-[fadeInUp_0.5s]">

    <div class="text-center mb-6">
      <h1 class="text-2xl font-extrabold text-slate-800">Nueva Cuenta</h1>
      <p class="text-slate-500 text-xs mt-1">Únete a la red de Ringensoft</p>
    </div>

    <form (ngSubmit)="registrar()" class="space-y-4">

      <div class="space-y-1">
        <label class="text-[10px] font-bold text-slate-500 uppercase ml-1">Nombre Completo</label>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"><i class="fas fa-id-card text-slate-400"></i></div>
          <input [(ngModel)]="datos.nombre_completo" name="nombre" type="text" required
                 class="w-full pl-10 pr-4 py-2.5 bg-slate-50 border border-slate-200 rounded-lg text-slate-700 text-sm focus:ring-2 focus:ring-emerald-500 focus:bg-white transition-all placeholder:text-slate-300"
                 placeholder="Ej. Juan Pérez">
        </div>
      </div>

      <div class="space-y-1">
        <label class="text-[10px] font-bold text-slate-500 uppercase ml-1">Usuario</label>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"><i class="fas fa-user text-slate-400"></i></div>
          <input [(ngModel)]="datos.username" name="username" type="text" required
                 class="w-full pl-10 pr-4 py-2.5 bg-slate-50 border border-slate-200 rounded-lg text-slate-700 text-sm focus:ring-2 focus:ring-emerald-500 focus:bg-white transition-all placeholder:text-slate-300"
                 placeholder="Ej. jperez25">
        </div>
      </div>

      <div class="space-y-1">
        <label class="text-[10px] font-bold text-slate-500 uppercase ml-1">Contraseña</label>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"><i class="fas fa-lock text-slate-400"></i></div>
          <input [(ngModel)]="datos.password" name="password" type="password" required
                 class="w-full pl-10 pr-4 py-2.5 bg-slate-50 border border-slate-200 rounded-lg text-slate-700 text-sm focus:ring-2 focus:ring-emerald-500 focus:bg-white transition-all placeholder:text-slate-300"
                 placeholder="Mínimo 6 caracteres">
        </div>
      </div>

      <button type="submit" [disabled]="cargando"
              class="w-full bg-gradient-to-r from-emerald-500 to-emerald-600 hover:from-emerald-600 hover:to-emerald-700 text-white font-bold py-3 rounded-xl shadow-lg shadow-emerald-500/30 transition-all mt-4 flex justify-center items-center">
        <span *ngIf="!cargando">CREAR CUENTA</span>
        <div *ngIf="cargando"><i class="fas fa-circle-notch fa-spin"></i></div>
      </button>
    </form>

    <div class="mt-6 text-center pt-4 border-t border-slate-100">
      <p class="text-slate-400 text-xs mb-1">¿Ya tienes cuenta?</p>
      <a routerLink="/login" class="text-sm font-bold text-emerald-600 hover:text-emerald-800 hover:underline cursor-pointer">Iniciar Sesión</a>
    </div>
  </div>
</div>
